
project.mpf
work/_info
RegisterFile.sv.bak
*.qtl
*.qpg
*.qdb
work/_vmake
*.mti
tests/singlecycle-memory/transcript
tests/transcript
*.bak
/work
*.mpf
*.mti
transcript
transcript
Phase1/verilogsim.log
Phase1/verilogsim.trace
Phase1/vish_stacktrace.vstf
Phase1/vsim.wlf
Phase1/wlft61zihz
Phase1/wlft8sqxsv
Phase1/wlftciv5xj
Phase1/wlftd2zrw4
Phase1/wlftdjsm30
Phase1/wlftig00mm
Phase1/wlftkgnfqz
Phase1/wlftsyh7hv
Phase1/wlftxc7yd6
Phase1/wlftz7cbcd
