project.mpf
work/_info
RegisterFile.sv.bak
*.qtl
*.qpg
*.qdb
work/_vmake
*.mti
tests/singlecycle-memory/transcript
tests/transcript
*.bak
/work
*.mpf
*.mti
transcript
transcript
Phase1/verilogsim.log
Phase1/verilogsim.trace
Phase1/vish_stacktrace.vstf
Phase1/vsim.wlf
Phase1/wlft61zihz
Phase1/wlft8sqxsv
Phase1/wlftciv5xj
Phase1/wlftd2zrw4
Phase1/wlftdjsm30
Phase1/wlftig00mm
Phase1/wlftkgnfqz
Phase1/wlftsyh7hv
Phase1/wlftxc7yd6
Phase1/wlftz7cbcd
Phase1/*.vvp
Phase1/*.vcd
Phase2/*.vvp
Phase2/*.vcd
emptyMemory.img
test1.img
test2.img
test3.img
Phase1/dump.vcd
Phase1/memory.v
Phase1/verilogsim.log
Phase1/verilogsim.trace
Phase1/waves
Phase1/wlft0d2k18
Phase1/wlft8jkqs9
Phase1/wlft8sm0ha
Phase1/wlft9vf4i4
Phase1/wlftav47me
Phase1/wlftc6f6ti
Phase1/wlfth1v3fv
Phase1/wlftqstyts
Phase1/wlfttk9dxh
Phase1/wlftwrhgki
Phase1/work/_info
Phase1/work/_opt__lock
Phase1/work/_vmake
Phase1/dump.vcd
Phase1/memory.v
Phase1/verilogsim.log
Phase1/verilogsim.trace
Phase1/work/_opt__lock
*/*.vcd
**/*.vcd
*/*.vvp
/Phase1/verilogsim.log
/Phase1/verilogsim.trace
/Phase1/vish_stacktrace.vstf
/Phase1/vsim.wlf
/Phase1/wlft61zihz
/Phase1/wlft8sqxsv
/Phase1/wlftciv5xj
/Phase1/wlftd2zrw4
/Phase1/wlftdjsm30
/Phase1/wlftig00mm
/Phase1/wlftkgnfqz
/Phase1/wlftsyh7hv
/Phase1/wlftxc7yd6
/Phase1/wlftz7cbcd
/Phase1/*.vvp
/Phase1/*.vcd
/Phase2/*.vvp
/Phase2/*.vcd
/Phase1/dump.vcd
/Phase1/memory.v
/Phase1/verilogsim.log
/Phase1/verilogsim.trace
/Phase1/waves
/Phase1/wlft0d2k18
/Phase1/wlft8jkqs9
/Phase1/wlft8sm0ha
/Phase1/wlft9vf4i4
/Phase1/wlftav47me
/Phase1/wlftc6f6ti
/Phase1/wlfth1v3fv
/Phase1/wlftqstyts
/Phase1/wlfttk9dxh
/Phase1/wlftwrhgki
/Phase1/work/_info
/Phase1/work/_opt__lock
/Phase1/work/_vmake
/Phase1/dump.vcd
/Phase1/memory.v
/Phase1/verilogsim.log
/Phase1/verilogsim.trace
/Phase1/work/_opt__lock
dump.vcd
dump.vcd
